
body {
    background-image: url("../images/backgroundHex.jpg");
    
}
#containerDiv{
    background-color: white;
    width : 75%;
    height: 100%;
    position: fixed;
    opacity: .8;
    border: 4px solid #000033;
    margin : 4% 10%;
    border-radius: 25px;
}

#titleDiv{
    width: 60%;
    margin : auto; 
    font-size: 1.3em;  
    padding-top: 8%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.game, .status, .start{
    width: 65%;
    margin : auto;
}

#questionDiv {
    
    width : 70%;
    margin : auto;
    margin-top : 4%;
    margin-bottom : 3%;
    position: flex;
    text-align: center;
    font-size: 2.2em;
}

#answersDiv {
    margin-top  : 4%;
    margin-bottom :2%;
    font-size : 1.3em;
}
#answersDiv > div {
    margin-top : 1.5%;
    padding : 2%;
    border-radius: 2%;
}
#afterQuestionDiv{
    width: 80%; 
    margin : auto;
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 1.3em;
}

#afterQuestionDiv > img{
    margin-top : 6%;
    margin-bottom: 3%;
}

#timeDiv{
    width : 60%;
    margin : auto;
    margin-top: 2.5%;
    font-size : 1.3em;
    text-align: center;
}
#restartMsgDiv{
    text-align: center;
}

#restartMsgDiv > div{
    margin-top : 20%;
    
}
#startButton{
    margin : auto;
    width : 70%;
    font-size : 2em;
    margin-top : 30%;
    margin-left : 13%;
    border-radius: 5px;
    padding : 3%;
    
}

@media screen and (max-width: 640px) {
    #containerDiv{
        width:85%;
        margin: 4% 7%;
        opacity: .75;
    }
    #titleDiv{
        font-size : .81em;
        margin-top : 6%;
        width : 70%; 
        text-align: center;   
    }
    #startDiv{
        margin-top: 20%;
        margin-bottom: 10%;
    }
    #startButton{
        font-size : 1.5em;
        margin-top : 100px;
    }
    #timeDiv{
        margin-top:10%;
    }
    #questionDiv{
        font-size: 1.0em;
        width: 90%;
        margin-top: 10%;
    }
    #answersDiv {
        margin-top : 10%;
        width:80%;
    }
    #answersDiv > div {
        margin-top: 5%;
        margin-bottom: 3%;
        text-align: center;
        font-size: 1em;
    }
    #answerMsgDiv {
        margin-top: 20%;
    }
    #afterQuestionDiv > img {
        width : 100%;
        height: 40%;
        border-width: 2px;
        margin-top: 20%;    
    }
    
    #restartMsgDiv > div{
        margin-top : 25%;
        margin-bottom : 0%;
    }
    #startButton{
        font-size : 1.5em;
        width : 100%;
        margin: auto;
        margin-top : 45%;
    }
}